@import 'overall.sass'

body
  background-color: #000116
  .smlr
    font-size: 12.5px
    line-height: 1.3em
    color: #999
  .head-links
    padding: 20px 0 0
    width: 70ch
    margin: auto
    display: block
    font-family: 'Roboto'
    text-align: right
    a
      text-decoration: none
      margin-left: 15px
      &:visited
        color: blue
  .sidebar
    margin: 150px 0px 0px 30px
    width: 300px
    height: 500px
    position: absolute
    left: 10px
  .tags-cloud
    background-color: #000
    padding: 20px
    h2
     width: 100%
     margin-bottom: 40px
     font-family: 'Roboto'
     color: #fff
     font-size: 14px
    .tags
      display: flex
      flex-wrap: wrap
      .tag
        margin-bottom: 15px
        align-self: flex-end
        margin-left: 5px
        padding: 5px
        font-family: $content_font
        background-color: #111
        font-size: 14px
        a
          font-family: $content_font
          text-decoration: none
          color: #999
        &.active
          a
            color: $text_accent

  .container
    width: 80ch
    padding-top: 1px
    margin: 30px auto 15px auto
    background-color: #000
    color: #fff
    h1
      padding: $container_spacing
      padding-bottom: 0
      font-family: $content_font
      font-weight: bold
      font-size: 40px
    .text-container
      font-family: $content_font
      line-height: 1.5em
      padding: $container_spacing
      padding-top: 0
      &--view-article
        margin-bottom: 20px

    .notes-list
      list-style-type: none
      margin: 0
      margin-top: 40px
      margin-bottom: 40px
      padding: 0
      li
        display: flex
        align-items: center
        width: 95%
        font-size: 0.85em
        padding: 10px
        border-top: 1px solid #555
        &:last-of-type
          border-bottom: 1px solid #555
        a
          flex: 1
          text-decoration: none
          color: #ff0255
        .tag
          align-self: flex-end
          margin-left: 5px
          padding: 5px
          background-color: #111
          font-size: 12px
          a
            text-decoration: none
            color: #999

  .profile_container
    display: flex
    align-items: center
    width: 79ch
    font-family: 'Roboto'
    line-height: 1.5em
    padding: $container_spacing
    padding-top: 0
    margin: 30px auto 30px auto
    background-color: #000
    color: #ddd
    font-size: 13.5px
    img
      width: 100px
      border-radius: 100px
      margin: 20px 30px 15px 5px

  .btm-note
    width: 80ch
    margin: auto
    color: white
    font-size: 12px
    font-family: 'Roboto'
    color: #555

  form
    margin-bottom: 40px
    label
      display: block
      margin-bottom: 10px
      margin-top: 10px
      font-family: $content_font
      font-size: 15px
      color: $text_secondary_light
    input[type="text"], input[type="password"], input[type="email"]
      width: 91%
      margin-top: 5px
      margin-bottom: 15px
      height: 10px
      padding: 20px
      font-family: $content_font
      font-size: 18px
    textarea
      resize: none
      width: 91%
      padding: 20px
      margin: auto
      font-family: $content_font
      font-size: 16px
      &::placeholder
        font-size: 18px
    input[type="submit"]
      width: 98%
      background-color: $text_accent
      border: 0
      color: #fff
      padding: 20px
      margin-top: 20px
      font-weight: 600
      font-family: $content_font
      font-size: 14px
      &:hover
        background-color: $text_accent_secondary
        cursor: pointer
      input[type="reset"]
        width: 98%
        background-color: $text_accent
        border: 0
        color: #fff
        padding: 20px
        margin-top: 20px
        font-weight: 600
        font-family: $content_font
        font-size: 14px

  .view-title-container
    .edit-icon
      float: right
      margin-top: -80px
      margin-right: 20px
      padding-bottom: 50px
      color: #aaa
      text-decoration: none
      &:hover
        color: #fff

  .view-text-container
    margin-bottom: 30px
    text-align: justify
    color: #eee
    code
      display: block
      background-color: #111
      color: $text_accent
