$container_spacing: 5px 20px 5px 20px

$view_article_padding: 0 0 20px 0 0

$content_font: 'Roboto'
$text_accent: #ff0255
$text_accent_secondary: #ff022c

$text_secondary: #999
$text_secondary_light: #ccc

$background_secondary: #555

$primary_links_color: blue
