$container_spacing: 5px 20px 5px 20px

$view_article_padding: 0 0 20px 0 0

$content_font: 'Roboto'
$text_accent: #ff0255
$text_accent_secondary: #ff022c

$text_secondary: #999
$text_secondary_light: #ccc

$background_secondary: #555

$primary_links_color: blue

$success_color: #02ff43
$success_text_color: #0a5302
$error_color: #ff4902
$error_text_color: #4d1803

form
  margin-bottom: 40px
  label
    display: block
    margin-bottom: 10px
    margin-top: 10px
    font-family: $content_font
    font-size: 15px
    color: $text_secondary_light
  input[type="text"], input[type="password"], input[type="email"]
    width: 91%
    margin-top: 5px
    margin-bottom: 15px
    height: 10px
    padding: 20px
    font-family: $content_font
    font-size: 18px
  textarea
    resize: none
    width: 91%
    padding: 20px
    margin: auto
    font-family: $content_font
    font-size: 16px
    &::placeholder
      font-size: 18px
  input[type="submit"]
    width: 98%
    background-color: $text_accent
    border: 0
    color: #fff
    padding: 20px
    margin-top: 20px
    font-weight: 600
    font-family: $content_font
    font-size: 14px
    &:hover
      background-color: $text_accent_secondary
      cursor: pointer
    input[type="reset"]
      width: 98%
      background-color: $text_accent
      border: 0
      color: #fff
      padding: 20px
      margin-top: 20px
      font-weight: 600
      font-family: $content_font
      font-size: 14px

.text-accent
  color: $text-accent

.text-monospace
  font-family: monospace

.smlr
  font-size: 12.5px
  line-height: 1.3em
  color: #999

.alert
  width: 95%
  margin: 30px 0 30px 0
  color: #fff
  font-family: $content_font
  font-weight: 700
  padding: 10px
  &-success
    background: $success_color
    color: $success_text_color
  &-error
    background: $error_color
    color: $error_text_color


.tag
  align-self: flex-end
  margin-left: 5px
  padding: 5px
  background-color: #111
  font-size: 12px
  a
    text-decoration: none
    color: #999

.modal
  position: absolute
  top: 40px
  left: 40px
  z-index: 99
  min-width: 80ch
  padding-bottom: 20px
  background-color: #050505
  border: 1px solid #151515
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,1)
  .modal-title
    width: 95%
    margin: auto
    margin-top: 2px
    padding: 10px
    background-color: #000
    font-family: $content_font
    font-size: 13px
    color: #ccc
    i.fa-folder
      margin-right: 15px
    i.fa-xmark
      float: right
      &:hover
        color: #fff
        cursor: pointer
  .modal-body
    padding: 5px 25px 10px 25px
    font-family: $content_font
    p
      color: #ccc
      font-size: 14px
