@import 'overall.sass'

.sidebar.sidebar--admin
   margin-top: 200px
   margin-right: -80px
   width: 250px
.sidebar
  &__slides_overflow_container
    height: 500px
    overflow-y: auto
    direction: rtl
  &__slides
    &__slide
      &.active
        opacity: 1
      &:hover
        opacity: 1
        cursor: pointer
      display: flex
      align-items: center
      justify-content: center
      width: 200px
      height: 100px
      margin: auto
      margin-bottom: 20px
      box-shadow: $box_shadow
      background: #fff
      font-family: $content_font
      font-weight: 600
      opacity: 0.5
      &--add
        font-size: 30px
        background: transparent
        border: 2px solid #fff
        color: #fff

.slide_add_button
  color: $text_accent_alt
  text-decoration: none
  &:hover
    color: #fff

.modal--slide
   left: 500px
   top: 300
   .fa-square-full
     margin-right: 15px
